<nav>
    <ul class="liste__nav">
        <a href="/"><li>index</li></a>
        <a href="/movies"><li>movies</li></a>
        <a href="/movie-search"><li>Recherche</li></a>
        <span id="connectionLink"><a href="/login"><li>Connexion</li></a></span>
    </ul>
</nav>