body {
    font-family:Consolas,Monaco,"Andale Mono",monospace;
}

.central {
    min-height: 250px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
.liste__nav{
    display:flex;
    justify-content: space-around;
    list-style: none;
}
.liste__nav li{
    color:#000000;
}